---
sort: 4
---

# Verification

Any Bots that are listed on the Paradise Bot List website must first pass our Verification Phase. 
Verifying Bots is relatively straight forward and can be done using the following steps:

---

## Community Guidelines
* Any and **ALL** Bots that are listed on Paradise Bot List should be in Accordance with our [Server Rules and Guidelines](https://paradisebots.net/serverrules)

---

## Bot Guidelines

---

## Bot Commands

---

## How to Verify

---
