---
sort: 4
---

# Verification

Verifying Bots is relatively straight forward.

## Community Guidelines
* Any and **ALL** Bots that are listed on Paradise Bot List should be in Accordance with our [Server Rules and Guidelines](https://paradisebots.net/serverrules)

## Bot Guidelines

## How to Verify

## 
