---
sort: 4
---

# Verification
Any Bots that are listed on the Paradise Bot List website are put in a "queue" and must first pass our Verification Phase. 
Verifying Bots is relatively straight forward and can be done using the following steps:

---

## Community Guidelines
* Any and **ALL** Bots that are listed on Paradise Bot List should be in Accordance with our [Server Rules and Guidelines](https://paradisebots.net/serverrules)

---

## Bot Guidelines
* Any and **ALL** Bots that are listed on Paradise Bot List should be in Accordance with our [Discord Bot Rules and Guidelines](https://paradisebots.net/botrules)

---

## Bot Commands
The bots commands should meet the following requirements
1. No NSFW Content outside of NSFW Marked Channels.
2. No publicly accessible Eval Commands.
3. No publicly accessible Exec Commands.
4. Provide proper implementation of a Permissions Schema. (IE: Can't ban Admins etc)

---

## How to Verify
If a 

---
